@tailwind base;
@tailwind components;
@tailwind utilities;

/* 增强样式：优化整体视觉感 */
@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
    /* 设置全局字体，让页面看起来更高级 */
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
}

/* 移除移动端点击高亮 */
* {
  -webkit-tap-highlight-color: transparent;
}

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}